# Ignore virtual environments
venv/
venv310/
venv-qiskit-clean/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit files
.streamlit/

# OS files
.DS_Store
Thumbs.db

