pip>=25.1.1
setuptools>=67
wheel>=0.40
streamlit>=1.25.0
numpy>=1.25.0
matplotlib>=3.7.0  # Needed for circuit visualization
qiskit==0.43.2
qiskit-aer==0.12.1
qiskit-terra==0.24.1
qiskit-ibm-provider==0.6.2  # For IBMProvider
qiskit-ibmq-provider==0.20.2  # For legacy IBMQ support
